@using Microsoft.AspNetCore.Http;
@using EDPFinal.Models;
@inject Services.UserService _userService;
@inject Services.AdminService _adminService;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor  _httpContextAccessor;
@{
    UserModel user = null;

    if (_httpContextAccessor.HttpContext.Session.GetInt32("ID") != null)

    {
        if (_httpContextAccessor.HttpContext.Session.GetString("userType") == "admin")
        {
            
        }
        user = _userService.GetUserById(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetInt32("ID")));
    }

}


<ul class="navbar-nav ml-auto">
    @if (user == null)
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/User/Login">Log in</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/User/Registration">Sign up</a>
        </li>

    }
    else

    {
        <li class="nav-item dropdown">

            <a id="navbarDropdown" class="dropdown-toggle user_name__show" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>


                <span class="user-username">@user.userName</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <ul class="m-dropdown-menu--personal flex--between">
                    <li class="box--bgwhite10 block__link" style="list-style:none">
                        <a class="" style="color:#000" asp-page="/User/UserDetail">


                            <span>User Details</span>
                        </a>
                    </li>
                    <li class="box--bgwhite10 block__link" style="list-style:none">
                        <a class="" style="color:#000" asp-page="/User/Login" asp-page-handler="Logout">


                            <span>Log Out</span>
                        </a>
                    </li>
                </ul>






            </div>
        </li>

    }

</ul>