@page
@model EDPFinal.Pages.SuperAdmin.AdminDetailModel
@{
    ViewData["Title"] = "Admin Details";
}

<h1>Detail</h1>
<form method="post">
    <div>
        <label class="col-sm--2 col-form-label">ID:</label>
        <label>@Model.MyAdmin.ID</label>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Email:</label>
        <label>@Model.MyAdmin.Email</label>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Password:</label>
        <label>@Model.MyAdmin.Password</label>
    </div>
</form>
