@page
@model EDPFinal.Pages.SuperAdmin.CreateAdminModel
@{
    ViewData["Title"] = "Create Admin";
}

<h1>Create Admin Account</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>



    <div>
        <label class="col-sm-2 col-form-label">Admin ID:</label>
        <input asp-for="MyAdmin.adminID" />
        <span asp-validation-for="MyAdmin.adminID" class="text-danger"></span>

    </div>
    <div>
        <label class="col-sm-2 col-form-label">Admin Email:</label>
        <input asp-for="MyAdmin.adminEmail" />
        <span asp-validation-for="MyAdmin.adminEmail" class="text-danger"></span>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Admin Password:</label>
        <input asp-for="MyAdmin.adminPassword" />
        <span asp-validation-for="MyAdmin.adminPassword" class="text-danger"></span>
    </div>



    <div class="col-sm-10">
        <input id="create" type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
