@page
@model EDPFinal.Pages.Teacher.CourseDetailModel
@{
    ViewData["Title"] = "Video";
}

<h1><label>Insert Course Title Here</label></h1>
<iframe id="Vid"
        width="560"
        height="315"
        src = "@Model.MyCourse.courseVideo"
        @*src = "https://www.youtube.com/embed/pqTcHtSSfUE"*@
        frameborder="0"
        allowfullscreen></iframe>