@page
@model EDPFinal.Pages.CourseBookings.BookingDeleteModel
@{
}
<h1>Are you sure you want @Model.coursedetails.courseTitle to be deleted</h1>

<div class="col-sm-10">
    @*   <input id="delete" type="submit" value="Back" class="btn btn-primary" onclick="href = 'RetrieveGuide';"/>
    *@    <a href="/TeacherGuides/RetrieveGuide" class="btn btn-primary">Back</a>


</div>