@page
@model EDPFinal.Pages.CourseBookings.BookingsListModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Bookings List";
}

@{
    if (Model.AllBookings.Count == 0)
    {
        <h3>There are no bookings made</h3>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>Booked Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{ if (Model.AllBookings != null)
            {
                @foreach (var cor in Model.AllBookings.Where(i => i.StudentID == HttpContext.Session.GetInt32("ID")))
                {
                    <tr>
                        <td>@cor.BookingTime</td>
                        <td>
                            <a asp-page="/Teacher/CourseDetail" asp-route-id="@cor.CourseID">View Booking</a>
                            <a asp-page="/CourseBookings/UpdateBooking" asp-route-id="@cor.BookingID">Update Booking</a>
                            <a asp-page="/CourseBookings/BookingDelete" asp-route-id="@cor.BookingID" onclick="return confirm('Are you sure you want to delete?')">Cancel</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
