@page
@model EDPFinal.Pages.CourseBookings.BookingModel
@{
}

<body>
    <form id="form1" runat="server" class="formBox" method="post">
        <div class="titleBox">
            <h3>Please choose your lesson time</h3>
        </div>

        <div class="Date"
             <span>Booking Date</span>
             <input type="date" name="bookingdate" class="Date" />
        </div>

        <br />
        <label for="TimeDL">Pick your time:</label>
        <select name="TimeDL">
            <option value="9.30am">9.30am</option>
            <option value="11.00am">11.00am</option>
            <option value="12.30pm">12.30pm</option>
            <option value="2.00pm">2.00pm</option>
        </select>
        <br /><br />
        <button a href="../Index" type="submit">Submit</button>
    </form>
</body>



