@page
@model EDPFinal.Pages.Admin.CreateCourseModel
@{
    ViewData["Title"] = "Create Course - Admin";
}
<h1>Create Course</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label class="col-sm-2 col-form-label">Course Title:</label>
        <input asp-for="MyCourses.courseTitle" />
        <span asp-validation-for="MyCourses.courseTitle" class="text-danger"></span>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Course Genre:</label>
        @Html.DropDownList("MyCourses.courseGenre", new SelectList(Enum.GetValues(typeof(Models.Genre))), "--Select an option--")
        <span asp-validation-for="MyCourses.courseGenre" class="text-danger"></span>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Course Format:</label>
        @Html.RadioButton("MyCourses.courseFormat", false)<span>Video</span>
        @Html.RadioButton("MyCourses.courseFormat", true)<span>Live</span>
        <span asp-validation-for="MyCourses.courseFormat" class="text-danger"></span>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Course Price:</label>
        <input asp-for="MyCourses.coursePrice" />
        <span asp-validation-for="MyCourses.coursePrice" class="text-danger"></span>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Course Details:</label>
        <input asp-for="MyCourses.courseInfo" placeholder="Maximum of 500 Characters" />
        <span asp-validation-for="MyCourses.courseInfo" class="text-danger"></span>
    </div>
    <div class="col-sm-10">
        <input id="create" type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
