@page
@model EDPFinal.Pages.Admin.LoginModel
@{
}

<body>
    <form id="form1" runat="server" class="formBox" method="post">
        <div class="titleBox">
            <h2>Log In As Admin</h2>
        </div>
        <div class="usernameBox">
            <span class="labelBox">Email</span><br />
            <input type="text" asp-for="@Model.Email" name="Email" class="Email" placeholder="Enter email"/>
        </div>
        <br />
        <div class="passwordBox">
            <span class="labelBox">Password</span><br />
            <input type="password" asp-for="@Model.Password" name="Password" class="Password" placeholder="Enter password"/>
        </div>
        <br />
        <div>
            <p class="text-danger">@Model.errorMessage</p>
        </div>
        <br />
        <button type="submit">Log in</button>
        <br />
        
    </form>
</body>