@page
@model EDPFinal.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePasword";
}

<body>
    <div class="titleBox">
        <h2>Change Password</h2>
        <br />
    </div>
    <form class="formBox" method="post">
      
        <div class="childformBox">
            <span class="labelBox">Old Password</span><br />
            <input type="password" asp-for="OldPassWord" placeholder="Enter your oldpassword" name="OldPassword" />
            <span asp-validation-for="OldPassWord" class="text-danger"></span>
        </div>
         <br />
        <div class="childformBox">
            <span class="labelBox">Password</span><br />
            <input type="password" asp-for="Password" placeholder="Enter your password" name="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <br />
        <div class="childformBox">
            <span class="labelBox">Confirm password</span><br />
            <input type="password" asp-for="CfmPassword" placeholder="Confirm your password" name="CfmPassword" />
            <span asp-validation-for="CfmPassword" class="text-danger"></span>
            <br />
            <br />
            <button type="submit">Submit</button>
        </div>
        <br />

    </form>
</body>