@page
@model EDPFinal.Pages.AdminPages.ApprovedCourseConfirmedModel
@{
    ViewData["Title"] = "Confirm Course Approval - Admin";
}

<body>
    <p>Teacher has been approved.</p>
    <br />
    <a href="ApproveCourse">Click here to return back to list of unapproved courses</a>
</body>
