@page
@model EDPFinal.Pages.AdminPages.ApproveTeacherConfirmedModel
@{
    ViewData["Title"] = "Confirm Teacher Approval - Admin";
}

<body>
    <p>Teacher has been approved.</p>
    <br />
    <a href="ApproveTeacher">Click here to return back to list of unapproved teachers</a>
</body>
