@page
@model EDPFinal.Pages.AdminPages.LoginModel
@{
}

<body>
    <form id="form1" runat="server" class="formBox" method="post">
        <div class="titleBox">
            <h2>Log In As Admin</h2>
        </div>
        <div class="usernameBox">
            <span class="labelBox">Email/Phone number</span><br />
            <input type="text" asp-for="Email" name="Email" class="Email" />
        </div>
        <br />
        <div class="passwordBox">
            <span class="labelBox">Password</span><br />
            <input type="password" asp-for="Password" name="Password" class="Password" />
        </div>
        <br />
        <button a href="Homepage" type="submit">Log in</button>
        <br />
        
    </form>
</body>