@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SkillsLah!</h1>
    <p>Welcome to our superior skills learning website where you can learn anything under the sun!!</p>
</div>
