@page
@model EDPFinal.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<body>
    <form id="form1" runat="server" class="formBox" method="post">
    <div class="titleBox">
        <h2>Log In</h2>
    </div>
            <div class="usernameBox">
                <span class="labelBox">Email/Phone number</span><br />
                <input type="text" asp-for="Email" name="Email" class="Email" placeholder="Input email"/>
            </div>
            <br />
        <div class="passwordBox">
            <span class="labelBox">Password</span><br />
            <input type="password" asp-for="Password" name="Password" class="Password" placeholder="Input password" />
         </div>
         <br />
         <button a href="Homepage" type="submit">Log in</button>
        <br />
        <p>@Model.errormessage</p>
        <br />
         <div class="bottomBox">
            <a class="fonttip">Forget  password?</a><asp:Button ID="Button1" runat="server" BackColor="#993399" Font-Size="Larger" ForeColor="White" Height="44px" OnClick="Button1_Click" Text="Login" Width="144px" />
        </div>

    <div style="width:100%;display:flex;justify-content:center;margin-top:25px;">
    <a href="Registration" style="font-size:20px;">Dont have an account? Sign up here</a>
    </div>
    </form>
    </body>

