@page
@model EDPFinal.Pages.RegisterAsTeacherModel
@{
    Layout = "_LeftNav";
    ViewData["Title"] = "User Details";
}

<div class="titleBox">
    <h2>Register As Teacher</h2>
    <br />
    <br />
</div>


<form action="/action_page.php">
  <input type="file" id="myFile" name="filename">
  <br />
  <br />
  <input type="submit">

</form>
