@page
@model EDPFinal.Pages.TeacherGuides.CreateGuideModel
@{
}
<style>
    #guideinput{
        height:75px;
        width:400px;
    }
</style>

<h1>Create Guide</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    
    <div>
        <label class="col-sm-2 col-form-label">Guide Title:</label>
        <input asp-for="MyGuide.guideTitle" />
        <span asp-validation-for="MyGuide.guideTitle" class="text-danger"></span>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Guide Estimated Reading Time:</label>
        <input asp-for="MyGuide.guideETR" />
        <span asp-validation-for="MyGuide.guideETR" class="text-danger"></span>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Guide Information:</label>
        <textarea id="guideinput" asp-for="MyGuide.guideInfo"></textarea>
        <span asp-validation-for="MyGuide.guideInfo" class="text-danger"></span>
    </div>

    <div class="col-sm-10">
        <input id="create" type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
